<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>
    <main class="row mgtp-62">
      <form js-dom="member" class="row pdtp-20 pdhr-20 mobile-pdhr-10" method="post">
        <h2 class="row pdbt-15">會員登入&nbsp;|&nbsp;註冊</h2>
        <div class="row pdtp-15">
          <label class="col-1-6" for="account">帳號</label>
          <input
            class="col-1-4"
            type="email"
            name="account"
            id="account"
            placeholder="請輸入email"
            required
          >
        </div>
        <div class="row pdtp-15">
          <label class="col-1-6" for="password">密碼</label>
          <input
            class="col-1-4"
            type="password"
            name="password"
            id="password"
            placeholder="請輸入8 ~ 32位英數密碼"
            required
            pattern="[0-9a-zA-Z]{8,32}"
          >
        </div>
        <div class="row pdtp-15">
          <button js-dom="login" data="session" class="col-1-4 mglt-1-6 mobile-mglt-0" type="submit">登入</button>
        </div>
        <div class="row pdtp-15">
          <button js-dom="signup" data="user" class="col-1-4 mglt-1-6 bg-blue mobile-mglt-0" type="submit">註冊</button>
        </div>
      </form>
    </main>
    <script src="js/nav.js"></script>
    <script src="js/member.js"></script>
    <%- include('partials/warning-script.ejs') %>
  </body>
</html>