<div class="row center cl-white pd-30 bg-lngr sh-lg">
  <h2 class="ftsz-50 mobile-ftsz-30">2020 春季大特賣</h2>
  <p class="ftsz-30 mobile-ftsz-20">時間自&nbsp;<time>04/01</time>&nbsp;至&nbsp;<time>04/30</time>&nbsp;為止</p>
  <p class="ftsz-30 mobile-ftsz-20">限時特價中！</p>
</div>